html {
	background-color:#EEEEEE;
}
input {
	clear: both;
}

section{
	border: 1px solid #333333;
	background-color: white;
	padding: 1em;
	margin: 1em;
}

h1 {
	text-align: center;
}

#container {
	width:80%;
	margin:auto;
}

#main{
	float:left;
}

#main, aside{
	width: 45%;
}
aside {
	float:right;
}